version: "3.8"
services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: secretario
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: clinica_veterinaria
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data:
